body{
    background: #ddd;
    font-family: arial, sans-serif;
}

.form,
.result{
    margin-top: 20px;
}


.msg ul,
.msg ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.msg ul li{
    padding: 5px;
    background: #fcc;
    border: 1px solid #f00;
    color: #c00;
    font-weight: bold;
}

.container{
    width: 400px;
    margin: 0px auto;
    border-top: 1px solid #fff;
    background: #eee;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 5px;
    padding: 20px;
}

form, fieldset{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

fieldset{
    position: relative;
}

fieldset ul,
fieldset ul li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    clear: both;`
}

fieldset ul li label{
    float: left;
    display: block;
    width: 100px;
}

fieldset input,
fieldset select,
fieldset textarea{
    float: left;
    font-size: inherit;
    font-family: inherit;
}

fieldset ul li.submit{
    clear: both;
    margin-top: 20px;
    text-align: center;
}
fieldset ul li.submit input{
    float: none;
}

.result{
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.result ul,
.result ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
